<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

  <application>
    <service
      android:name="expo.modules.sipvoice.SipVoiceConnectionService"
      android:exported="true"
      android:label="@string/sipvoice_connection_service_label"
      android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
      <intent-filter>
        <action android:name="android.telecom.ConnectionService" />
      </intent-filter>
    </service>

    <service
      android:name="expo.modules.sipvoice.SipVoiceForegroundService"
      android:exported="false"
      android:foregroundServiceType="microphone|phoneCall" />

    <receiver
      android:name="expo.modules.sipvoice.SipVoiceActionReceiver"
      android:exported="false" />
  </application>
</manifest>
